     <div id="gameboard">
      <div id="row1" class="rw tr">
        <div id="cell1" class="cll lt g">O</div>
        <div id="cell2" class="cll ct"></div>
        <div id="cell3" class="cll rt w">X</div>
      </div>
      <div id="row2" class="rw mr">
        <div id="cell4" class="cll lm g">O</div>
        <div id="cell5" class="cll cm w">X</div>
        <div id="cell6" class="cll rm"></div>
      </div>
      <div id="row3" class="rw br">
        <div id="cell7" class="cll lb w">X</div>
        <div id="cell8" class="cll cb g">O</div>
        <div id="cell9" class="cll rb g">X</div>
      </div>
    </div>
  
    <div id="play-btn"><a  ng-click="randomMatch()" class="large button success">Play now!</a></div>
    <div id="play-btn"><a href="#/howTo" class="large button success">How To</a></div>